// Specific CSS for your home-page
.form-container{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  padding:25px;
  position: absolute;
  top: 54%;
}

.home-box{
  height: calc(100vh - 56px); //100vh -66px is for the navbar
  // align-items: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.typed-cursor {
  display: none;
}

// .body {
//   font-family: 'Hind Siliguri', sans-serif;
// }
