<div class="chat-container">
  <h1>Chats</h2>
  <% @chatrooms.each do |chatroom| %>
    <div class="chat-box">
      <img src='https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' class="avatar-large" />
        <div class="chat-box-content">
          <h6> <%= link_to User.find_by(id: chatroom.user_b_id).email, chatroom_path(chatroom) %></h6>
        </div>
        <div class="chat-box-actions">
          <%= link_to chatroom_path(chatroom) do %>
            <i class="fas fa-arrow-right"></i>
          <% end %>
        </div>
    </div>
  <% end %>
  <h1>Profiles</h2>
  <% @users.each do |user| %>
    <div class="chat-box">
      <img src='https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' class="avatar-large" />
        <div class="chat-box-content">
          <h6>User: <%= link_to User.find_by(id:user.id).email, chatrooms_path(user_b: user.id), method: :post %></h6>
        </div>
        <div class="chat-box-actions">
          <%= link_to chatrooms_path(user_b: user.id), method: :post do %>
            <i class="fas fa-plus"> </i>
          <% end %>
        </div>
    </div>
  <% end %>
</div>












