.card-product {
  // overflow: hidden;
  height: 120px;
  // background: white;
  // box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding-top: 10px;
  // border-radius: 20px;
}

.card-product-infos{
  flex: 0 0 auto;
  padding: 15px;
}

.schema-time {
  justify-content: space-evenly;
}

.card-clicked {
  background-color: #FDF6E2;
}

.card-product .photo {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.card-product .distance {
  height: 100%;
  width: 200px;
  object-fit: cover;
}


.card-product p {
  font-size: 10px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product span {
  font-size: 11px;
  line-height: 13px;
  color: #787679;
}


.card-product .fa-star {
  color: #F36B7F;
}

.card-product .heart {
  color: #F36B7F;
  // font-size: 15px;
}

.full-screen {
  top: 10vh !important;
  transition: top 1s !important;
}


.card-design {
  background-color: white;
  min-height:100vh;
  z-index: 111;
  position: absolute;
  top: 59vh;
  border-radius: 40px;
  transition: top 1s !important;
  width: 100vw;
  // /margin: 0 2.5vw;
}

.arrow-size {
  font-size: 20px;
}

.card-product-infos {

  a {
  text-decoration: none;
  color: black;
  }
}

.cat_btn {
  padding: 0; margin: 0;
}

.sizing-box {
  width: 100%;
  // margin-right: 0;
  padding: 10px 0;
}

.active-cat-icon {
  color: #F36B7F !important;
}

.submit-btn-yell {
  background-color: #F8CF61;
}


