.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;

}

.card-clicked {
  border: solid #F8CF61;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .icon {
  color: #1BBC9A;
}

.full-screen {
  top: 10vh !important;
  transition: top 1s !important;
}

.card-design {
  background-color: white;
  min-height:100vh;
  z-index: 111;
  position: absolute;
  top: 67vh;
  border-radius: 10px;
  transition: top 1s !important;
  width: 100vw;
  // /margin: 0 2.5vw;
}

.arrow-size {
  font-size: 20px;
}

.card-product-infos {

  a {
  text-decoration: none;
  color: black;
  }
}

.cat_btn {
  padding: 0; margin: 0;
}

.sizing-box {
  width: 100%;
  margin-right: 0;
  padding: 10px 0;
}

.active-cat-icon {
  color: #F36B7F !important;
}

.submit-btn-yell {
  background-color: #F8CF61;
}


