.chat-container {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-bottom: 18%;
}

.chat-container h6{
  font-size: 22px;
  font-family: "Archivo";
  margin-bottom: 0;
}

.chat-container h1{
  font-size: 28px;
  font-family: "Archivo";
  font-weight: bolder;
  // margin: 20px;
  margin-top: 32px;

}

.chat-container h2{
  font-size: 22px;
  // margin: 10px;
  margin-top: 20px;
  font-family: "Archivo";
  font-weight: bolder;
  margin-bottom: 22px;
  margin-left: 0%;
}

.chat-box {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  // background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  width: 100%;
  height: 59px;
  width: 321px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

}

.chat-box .chat-box-content {
  flex-grow: 1;
  padding-left: 24px;
}

.chat-box p {
  margin: 0;
  line-height: 1.4;
}

.chat-box small {
  color: #999999;
  font-weight: bold;
}

.chat-box a{
  color: black;
}
.chat-box .chat-box-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
}


.chat-box .chat-box-actions a {
  color: #555555;
  margin-left: 16px;
  font-size: 14px;
}
