.chat-container {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.chat-box {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  width: 100%;
}

.chat-box .chat-box-content {
  flex-grow: 1;
  padding: 0 24px;
}

.chat-box p {
  margin: 0;
  line-height: 1.4;
}

.chat-box small {
  color: #999999;
  font-weight: bold;
}

.chat-box a{
  color: black;
}
.chat-box .chat-box-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
}


.chat-box .chat-box-actions a {
  color: #555555;
  margin-left: 16px;
  font-size: 14px;
}

.enter-chat {
  position: sticky;
  bottom: 0;
}
