#map{
  height: 100%;
  width: 100%;

  z-index: 0;
  position: relative;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker {
  i {
    color:#F36B7F;
    font-size:30px;
  }
}

.marker-on-card{
  color:#F36B7F;
}

.color-selected {
  i {
    color:#2B292D !important;
    font-size:40px;
  }
}
