.review-card {
  background-color: #FEFAEF;
  padding: 11px;
  font-size: 11px;
  position: relative;
  margin-bottom: 20px;

  .r-author, .r-comment {
    margin-bottom: 0;
  }

  .r-rating {
    margin-bottom: 2px;
  }

  .r-date {
    color: grey;
    margin-bottom: 1px;
  }
}

.review-card .r-author {
  font-weight: bold;
  text-align: right;
}

.quotes-icon {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
  background: white;
}

.review-card-wrapper {
  margin-top: 10px;
  padding-bottom: 13%;
}

.hide-review {
  display: none;
}

.btn-review {
  text-align: center;
  padding-left: 50%;
}

.yelp-img {
  max-width:25%;
  height:auto;
  // text-align: center;
  // padding-left: 50%;
}



